<div>
  <p><strong> <%= comment.name %> </strong></p>
  <p><%= comment.body %></p>
  <small><%= comment.created_at.strftime("%dth %B, %Y %H:%M") %></small> 

  <% if user_signed_in? %>
    <small> | <%= link_to 'Delete', [comment.post, comment],
          method: :delete,
          data: {confirm: "Are you sure?"} %>
    </small>
  <% end %>
</div>