<h1>About</h1>

<p>
  <%= image_tag 'about.jpeg' %>
</p>

<p>This site is a basic post and comments site..</p>

<p>If you have any query about this site, please contact me through these : </p>

<ul>
  <li class="category">Contacts</li>
  <li><a href="https://www.facebook.com/krishna.pandit.9699">facebook</a></li>
  <li><a href="https://www.twitter.com/krishnapandit0">twitter</a></li>
  <li><a href="https://www.instagram.com/krishnapandit501">instagram</a></li>
  <li><a href="https://www.github.com/jivpro">github</a></li>
</ul>